@model hairsalon.Models.ChangeNameVM

@using (Html.BeginForm("ChangeName", "Account", FormMethod.Post, new { @class = "row g-3" }))
{


    <div class="col-md-6">
        <label for="inputFname4" class="form-label">نام</label>
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @type = "text", @id = "inputFname4" })
        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-6">
        <label for="inputFname5" class="form-label">نام خانوادگی</label>
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @type = "text", @id = "inputFname5" })
        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
    </div>

    <div class="col-12">
        <label for="inputAddress" class="form-label">شماره موبایل</label>
        <input type="tel" class="form-control" id="inputAddress" value="@ViewBag.phone" disabled>
    </div>

    <input value="ویرایش اطلاعات" class="btn btn-primary" type="submit" />
}


