@model hairsalon.Models.SetPasswordVM
@{
    ViewBag.Title = "انتخاب رمز عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PartialHeader")


<!-- ======= profile Section ======= -->
<section id="profile" class="profile">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card" style="padding: 20px;">

                    <div class="p-5 pt-0">

                        <span style="color: grey">شماره موبایل شما: @Session["PhoneNumber"] </span>
                        @Html.ActionLink("تغییر", "Index", "Account")<br />

                        @using (Html.BeginForm("SetPassword", "Account", FormMethod.Post))
                        {


                            <div class="mb-3">


                                <label>رمز عبور:</label>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control rounded-3" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                <br />
                                <label>تکرار رمز عبور:</label>
                                @Html.PasswordFor(m => m.RePassword, new { @class = "form-control rounded-3" })
                                @Html.ValidationMessageFor(m => m.RePassword, "", new { @class = "text-danger" })
                            </div>

                            <input value="ذخیره کلمه عبور" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit" />

                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</section><!-- End profile Section -->
