@model hairsalon.Models.SetPasswordVM
@{
    ViewBag.Title = "انتخاب رمز عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PartialHeader")


<!-- ======= profile Section ======= -->
<section id="profile" class="profile">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card" style="padding: 20px;">

                    <div class="p-5 pt-0">
                        <form asp-action="Index" method="post">
                            <div class="mb-3">

                                
                                <label for="passInput">رمز عبور:</label>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control rounded-3", @id = "passInput"})
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                                <label for="repassInput">تکرار رمز عبور:</label>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control rounded-3", @id = "repassInput"})
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>

                            <button value="SetPassword" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">ذخیره کلمه عبور و ثبت نام</input>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section><!-- End profile Section -->
