@model hairsalon.Models.VerifyNumberVM
@{
    ViewBag.Title = "تایید شماره موبایل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PartialHeader")

<!-- ======= profile Section ======= -->
<section id="profile" class="profile">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card" style="padding: 20px;">

                    <div class="p-5 pt-0">
                        <span style="color: grey">شماره موبایل شما: @Session["PhoneNumber"] </span>
                        @Html.ActionLink("تغییر", "Index", "Account")<br />

                        @using (Html.BeginForm("VerifyNumber", "Account", FormMethod.Post))
                        {
                            <div class="mb-3">

                                <div class="alert alert-danger alert-dismissible" style="display:@ViewBag.visible">
                                    <strong>خطا در فعالسازی</strong>  @ViewBag.error
                                </div>
                                <span class="text-success">دمو: کد فعالسازی: @Session["Code"].ToString()</span><br />
                                <label for="codeInput">کد ارسال شده را وارد کنید:</label>
                                @Html.TextBoxFor(m => m.VerificationCode, new { @class = "form-control rounded-3", @id = "codeInput" })
                                @Html.ValidationMessageFor(m => m.VerificationCode, "", new { @class = "text-danger" })

                            </div>

                            <input value="ثبت کد فعالسازی" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit" />
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
</section><!-- End profile Section -->
