@{
    ViewBag.Title = "خدمات آنلاین سالن زیبایی";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row gy-4 d-flex justify-content-between">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h2 data-aos="fade-up">خدمات آنلاین سالن زیبایی</h2>
                <h4 data-aos="fade-up" data-aos-delay="100">خدمات مورد نیاز خود را آنلاین رزرو کنید.</h4>

                <form action="#" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
                    <input type="text" class="form-control" placeholder="دنبال چه خدمتی هستید؟">
                    <button type="submit" class="btn btn-primary"><img src="@Url.Content("~/assets/img/Icon feather-search.svg")" alt=""></button>
                </form>


            </div>

            <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                <img src="@Url.Content("~/assets/img/landing_banner.svg")" class="img-fluid mb-3 mb-lg-0" alt="">
            </div>

        </div>
    </div>
</section><!-- End Hero Section -->

<main id="main">

    
    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
        <br><br><br><br>
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <span>خدمات ما</span>
                <h2>خدمات ما</h2>

            </div>

            <div class="row gy-3">

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="card">
                        <div class="card-img">
                            <img src="@Url.Content("~/assets/img/hair_cutting.svg")" alt="" class="img-fluid">
                        </div>
                        <h2>کوتاهی مو</h2>
                        <p>خدمات کوتاهی مو</p>
                        <button type="button" class="btn btn-primary btn-lg btn-block">رزرو</button>

                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="card">
                        <div class="card-img">
                            <img src="@Url.Content("~/assets/img/hair_dye.svg")" alt="" class="img-fluid">
                        </div>
                        <h2>رنگ مو</h2>
                        <p>خدمات رنگ مو</p>
                        <button type="button" class="btn btn-primary btn-lg btn-block">رزرو</button>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="card">
                        <div class="card-img">
                            <img src="@Url.Content("~/assets/img/shinion.svg")" alt="" class="img-fluid">
                        </div>
                        <h2>شینیون</h2>
                        <p>خدمات شینیون</p>
                        <button type="button" class="btn btn-primary btn-lg btn-block">رزرو</button>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="card">
                        <div class="card-img">
                            <img src="@Url.Content("~/assets/img/eyebrow.svg")" alt="" class="img-fluid">
                        </div>
                        <h2>ابرو و مژه</h2>
                        <p>خدمات ابرو و مژه</p>
                        <button type="button" class="btn btn-primary btn-lg btn-block">رزرو</button>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="card">
                        <div class="card-img">
                            <img src="@Url.Content("~/assets/img/nails.svg")" alt="" class="img-fluid">
                        </div>
                        <h2>ناخن</h2>
                        <p>خدمات ناخن</p>
                        <button type="button" class="btn btn-primary btn-lg btn-block">رزرو</button>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="card">
                        <div class="card-img">
                            <img src="@Url.Content("~/assets/img/makeup.svg")" alt="" class="img-fluid">
                        </div>
                        <h2>میکاپ</h2>
                        <p>خدمات میکاپ</p>
                        <button type="button" class="btn btn-primary btn-lg btn-block">رزرو</button>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="700">
                    <div class="card">
                        <div class="card-img">
                            <img src="@Url.Content("~/assets/img/cleaning.svg")" alt="" class="img-fluid">
                        </div>
                        <h2>پاکسازی صورت</h2>
                        <p>خدمات پاکسازی صورت</p>
                        <button type="button" class="btn btn-primary btn-lg btn-block">رزرو</button>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="800">
                    <div class="card">
                        <div class="card-img">
                            <img src="@Url.Content("~/assets/img/epilasion.svg")" alt="" class="img-fluid">
                        </div>
                        <h2>اپیلاسیون</h2>
                        <p>خدمات اپیلاسیون</p>
                        <button type="button" class="btn btn-primary btn-lg btn-block">رزرو</button>
                    </div>
                </div><!-- End Card Item -->

            </div>

        </div>
    </section><!-- End Services Section -->
    


</main><!-- End #main -->